body{
    margin: 0px;
    padding: 0px;
}
#container{
    /* border: 4px solid tomato; */
    display: grid;
    /* height: auto; */
    /* width: 304px; */
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
}
.box{
    width: 150px;
    height: 150px;
    border: 0.5px black solid; 
}
#question{
    width: 150px;
    height: 150px;
    border: none;
}

#main{
    max-width: 500px;
    margin: auto;


}
#inprogress{

    background-image: url('images/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#win{
    background-image: url('images/winbg.gif');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 22px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: indianred;
}
button{
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    border-radius: 2px;
    border: black;
    color: white;
}